<ion-view view-title="Edit">
  <ion-content>
    <div class="card">

      <ion-input class="item item-input">
        <input type="text" placeholder="Titulo" ng-model="song.title">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Artista" ng-model="song.artist">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Acorde" ng-model="song.chord">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Categoría" ng-model="song.category">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Youtube URL" ng-model="song.youtubeUrl">
      </ion-input>

      <!-- <ion-input class="item item-input">
        <input type="text" placeholder="Album" ng-model="song.album">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Año lanzamiento" ng-model="song.creationYear">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Hit" ng-model="song.isHit">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Ofrenda" ng-model="song.ofrenda">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Nueva" ng-model="song.isNew">
      </ion-input>
      <ion-input class="item item-input">
        <input type="text" placeholder="Spotify URL" ng-model="song.spotifyUrl">
      </ion-input> 
      <ion-input class="item item-input">
        <textarea rows="4" placeholder="Letra" ng-model="song.lyrics"></textarea>
      </ion-input> -->

    </div>

    <div class="padding">
      <div class="button-bar">
        <button class="button button-outline button-assertive" ng-click="delete()" ng-if="song.$id">Eliminar
</button>
        <button class="button button-positive" ng-click="save()">Guardar</button>

      </div>
    </div>
  </ion-content>
</ion-view>
