<ion-view  view-title="Worship Now - Canciones">
  <ion-content ng-controller="SongController"  on-swipe-left="swipeRight()">
    <!-- <div class="bar bar-header">
      <h1 class="title">Listado de canciones</h1>
    </div> -->
   
      <div class="padding" >
        <button class="button button-block button-balanced" ng-click="add()">Agregar canción!</button>
      </div>
    <ion-list>
    <!-- href="#/songs/edit/{{song.$id}}" -->
      <ion-item  ng-repeat="song in songs" class="item-icon-right item-remove-animate">
        <div class="row">
          <div class="col col-90">
            <div class="row">
              <h3 class="col">{{song.title}} - {{song.artist}}</h3>
              <!-- <h3 class="col"></h3> -->
            </div>
            <div class="row">
              <p class="col">{{song.chord}}</p>
              <p class="col">{{song.category}}</p>
            </div>
          </div>
          <div class="col">
            <button ng-hide="song.inSetList" ng-click="addToSetList(song)" class="button icon-right ion-chevron-right button-positive"></button>
            <i ng-show="song.inSetList" class="icon ion-checkmark-round"></i>
          </div>
        </div>
        <!-- <p><span am-time-ago="song.updatedTime"></span>: </p> -->
       <!--  <p>{{song.album}}</p>
        <p>{{song.creationYear}}</p>
        <p>{{song.isHit}}</p>
        <p>{{song.ofrenda}}</p>
        <p>{{song.isNew}}</p>
        <p>{{song.lyrics}}</p>
        <p>{{song.youtubeUrl}}</p>
        <p>{{song.spotifyUrl}}</p> -->


        <!-- <i class="ion-chevron-right icon"></i> -->
        <ion-option-button class="button-energized ion-edit icon-left" ng-click="edit(song)"></ion-option-button>
        <ion-option-button class="button-assertive ion-ios-trash icon-left" ng-click="delete(song)"></ion-option-button>
        
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
