<ion-view  view-title="Listado canciones">
  <ion-content ng-controller="SongController">
    <div class="padding">
      <button class="button button-block button-balanced" ng-click="add()">Agregar canción!</button>
    </div>
    <ion-list>
      <ion-item href="#/songs/edit/{{song.$id}}" ng-repeat="song in songs" class="item-icon-right item-remove-animate">
        <div class="row">
          <h3 class="col">{{song.title}}</h3>
          <h3 class="col">{{song.artist}}</h3>
        </div>
        <div class="row">
          <p class="col">{{song.chord}}</p>
          <p class="col">{{song.category}}</p>
        </div>
        <!-- <p><span am-time-ago="song.updatedTime"></span>: </p> -->
       <!--  <p>{{song.album}}</p>
        <p>{{song.creationYear}}</p>
        <p>{{song.isHit}}</p>
        <p>{{song.ofrenda}}</p>
        <p>{{song.isNew}}</p>
        <p>{{song.lyrics}}</p>
        <p>{{song.youtubeUrl}}</p>
        <p>{{song.spotifyUrl}}</p> -->


        <i class="ion-chevron-right icon"></i>
        <ion-option-button class="button-assertive ion-ios-trash icon-left" ng-click="delete(song)">Delete</ion-option-button>
        
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
